/Projects/Examples/BT/BT_Timer/Project/Lst
/Projects/Examples/BT/BT_Timer/Project/Obj
/Projects/Examples/BT/BT_Timer/Project/N3F004_BT_TIMER.mk
/Projects/Examples/BT/BT_Timer/Project/N3F004_BT_TIMER.modify.bat
/Projects/Examples/BT/BT_Timer/Project/.cache
/Projects/Examples/BT/BT_Timer/Project/.cdk
/Projects/Examples/BT/BT_Timer/Project/__workspace_pack__
/Projects/Examples/BT/BT_Timer/Project/cdkws.mk
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
__workspace_pack__
cdkws.mk
N3F004_IFC.mk
N3F004_IFC.modify.bat
N3F004_IFC.cdkws
Obj
Lst
.cdk
.cache
